
@{
    ViewBag.Title = "Index";
}


    <div class="container mt-72">
        @if (ViewBag.Error != null)
        {
            <div class="text-center"><p class="alert alert-danger">@ViewBag.Error</p></div>
        }
        <div class="text-center">
            @using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Subscribe</button>
            }
        </div>
    </div>
