@model IEnumerable<LoanComparer.Data.Models.AdminHomeModel>
@{
    ViewBag.Title = "Index";
}

<div class="container mt-72">
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">LoanType</th>
            <th scope="col">Unique visit</th>
            <th scope="col">Number of visit</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var visit in Model)
        {
            <tr>
                <td>@visit.CompanyName</td>
                <td>@visit.LoanType</td>
                <td>@visit.UniqueVisit</td>
                <td>@visit.Visits</td>
            </tr>
        }




        </tbody>
    </table>
</div>

