@{
    ViewBag.Title = "Home Page";
}

    <div class="slider" id="home">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top1">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8  slider-info-txt">
                                        <h2>Easy Online accounts to customers</h2>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8 slider-info-txt">
                                        <h3>credit card processing services</h3>

                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top3">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8 slider-info-txt">
                                        <h3>Services for all your customer needs</h3>

                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Bank</a>
                                        </div>

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="main add">
            <h2>Register For Free Account</h2>

            <form>
                <h5>Username</h5>
                <input type="text" Placeholder="Type here" required="">
                <h5>Email</h5>
                <input type="email" Placeholder="johnkeith@mail.com" required="">
                <h5>Password</h5>
                <input type="password" Placeholder="Password" required="">
                
                <input type="submit" Placeholder="Create Account">
            </form>
        </div>
    </div>